name: demo
on:
    workflow_dispatch:
        inputs:
            name: 
                description: "enter your name"
                required: true
                default: "sai"
                type: string
jobs:
    job1:
        runs-on: ubuntu-latest
        steps:
            - name: "print the inputs"
              run: echo 'name: ${{ inputs.name }}'


